body {
    font-family: fantasy;
    font-size: 16px;
    text-align: center;
    color: black;
    line-height: 1.6;
    /*Här med hjälp av https://uigradients.com/ jag har skapat ett linear background*/
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     
    
}

header, footer {
    padding: 20px;
    text-align: center;
    border: solid 1px white;
    border-radius: 50px 0 50px 0;
    
}

.AnimBackG{
    background-image: url(img/AnimeBackground.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

@media screen and (max-width: 376px) {

    .AnimBackG{
        background-repeat:round;
    }

}

footer{
    font-style: italic;
    color: white;
    text-decoration: underline;
}

@media screen and (max-width: 376px) {
    header, footer {
        padding: 10px;
    }
}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
}

.title {
    color: greenyellow;
    font-weight: bold;
    text-shadow:1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }

h3.title{
    color: white;
}

#tlMov{
    font-size: 65px;
}

.titleFavImg {
    font-family: fantasy;
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 9px 2px black, 10px 1px 25px red, 0 0 10px darkblue;
}

@media screen and (max-width: 376px) {

    #tlMov {
        font-size: 35px;
    }

    .titleFavImg {
        font-size: 20px;
    }

}

p {
    margin-bottom: 15px;
    font-family: 'Times New Roman', Times, serif;
}

main{

    font-family: fantasy;
}


main.homeMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    width: auto;
    color: white;
}

article {
    width: 80%;
    height: auto;
    margin:10px;
    text-align: center;
    font-size: 26px;
}



button {
    display: inline-block;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #03045e;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
    color: white;
    background-color: brown;
   }
   
   button::before,
   button::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
   }
   
   button::before {
    left: -10px;
    background: yellow;
   }
   
   button::after {
    right: -10px;
    background: blue;
   }
   
   button:hover::before,
   button:hover::after {
    width: 58%;
   }
   





nav ul {
    list-style-type: none;
    font-family: fantasy;
    text-align: left;
    margin-top: 5px;
    padding: 10px;
    background-color: white;
    font-size: 30px; 
    border: solid 1px white;
    border-radius: 0 15px 15px 0;
}

nav ul li {
    display: inline;
    margin-right: 30px;
    margin-bottom: 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 30px; 
}

nav ul li a:hover {
    color: white;
    background-color: black;
    border-radius: 5px 5px 5px 5px;
}

nav ul li a.active {
    font-weight: bold;
    background-color: lightgreen;
    color: black;
    font-size: 52px;
}

@media screen and (max-width: 376px) {
    nav ul {
        font-size: 16px;
    }

    nav ul li {
        margin-right: 15px;
        margin-bottom: 12px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

img.homeImg {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 50px auto;
}

.aboutImg img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: solid 5px white;
  }

  @media (min-width: 650px) {
    .aboutImg img {
      width: 900px;
    }
  }

  @media (min-width: 465px) and (max-width: 649px) {
    .aboutImg img {
      width: 800px;
    }
  }

table, th, td {
    border:1px solid lightskyblue;
    background-color: white;
  }

th{
    text-decoration: underline;
    font-weight: bold;
}

.tabStyl{
    margin-bottom: 15px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
    background-color: bisque;
}

fieldset {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
    color: lime;
    text-shadow:1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

label {
    display: block;
    font-style: italic;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 3px;
}

input[type="submit"],
input[type="reset"] {
    padding: 8px 20px;
    border: none;
    border-radius: 3px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: darkblue;
}

#tlContact{
    font-size: 30px;
}

@media (max-width: 376px) {
    #tlContact{
        font-size: 20px;
    }

    form {
        max-width: 100%;
        padding: 10px;
    }

    input[type="text"],
    input[type="number"],
    input[type="email"],
    textarea {
        width: calc(100% - 10px);
    }
}

.animated-arrow {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid transparent;
    margin: 20px auto;
    animation: arrow-animation 0.5s infinite alternate;
}

@keyframes arrow-animation {
    from {
        transform: translateY(0);
        border-top: 30px solid black;
    }
    to {
        transform: translateY(10px);
        border-top: 30px solid white;

    }
}

video {
    width: 320px;
    height: auto;
    border-radius: 40% 40% 40% 40%;
}

@media (max-width: 376px) {
    video{
        width: 160px;
        height: auto;
    }
}

#timos{
     /* Change this value to your desired width */
    height: 500px; /* Change this value to your desired height */
    object-fit: cover; /* Maintain aspect ratio */
}