body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    background-color: bisque;
}

header {
    text-align: center;
    background-color: orange;
    color: white;
    padding: 20px;
}

aside.navbar {
    float: left;
    width: 15%;
    background-color: lightgreen;
    padding: 10px;
    border: solid black;
    border-radius: 0 0 70px 0;
}

nav ul {
    list-style: square;
    padding-left: 10px;
    margin-left: 10px;
}

nav li {
    margin-bottom: 10px;
}

main {
    float: right;
    width: 75%;
    padding: 20px;
}

article {
    margin-bottom: 30px;
}

img {
    max-width: 100%;
    height: auto;
}

video {
    max-width: 100%;
    height: auto;
}

footer {
    clear: both;
    text-align: center;
    background-color: lightcoral;
    color: orange;
    padding: 10px;
}

aside.clip{
    float: left;
    width: 15%;
    background-color: lightgreen;
    padding: 10px;
    border: solid black;
    border-radius: 0 0 50px 0;
    
}

section{
    border: 1px black;
    align-items: center;
}

@media (max-width: 768px) {
aside, main {
    width: 100%;
    float: none;
}

nav ul {
    text-align: center;
}
}